@import '_variables';
// @import '_fonts';
@import '_mixins';

*{box-sizing:border-box;padding: 0;margin: 0;}
a{text-decoration:none;color:#000;&:focus,&:hover{outline:none;text-decoration:none;color: #000;}}
ul{list-style: none;}
img{max-width: 100%; height: auto;}


@import 'parts/_header';


@import '_queries';

